h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: blueviolet;
    text-align: center;
}

img {
    width:300px;
    height:300px;
}

h2 {
    font-size: 20 px;
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    color:rgb(110, 34, 182) 
}

.bios {
    text-align: center;
    justify-content: center;
}

footer {
    text-align: center;
    font-size: 10 px;
    background-color: rgb(189, 186, 191);
}

body {
    background-color: rgba(226, 226, 226, 0.91);
}
h5 {
    color: rgb(110, 34, 182);
}

a {
    color: blueviolet;
}

a:hover {
    color: black;
}

body.dark-mode {
            background-color: #121212;
            color: #f0f0f0;
        }
footer.dark-mode {
            background-color: #121212;
            color: #f0f0f0;
        }


.toggle-btn, .surprise-btn {
            margin: 10px 5px;
            padding: 8px 12px;
            cursor: pointer;
}

ul {
    list-style-position: inside;
    text-align: center;
}




